.entirePage {
  min-height: 130vh;
  height: auto;
  min-width: 100vw;
  width: auto;
  backdrop-filter: blur(6px);
  position: absolute;
  top: 0;
  z-index: 999999;
  display: flex;
  justify-content: center;
  align-items: center;
 
}

.boxLessonForm {
  min-height: 400px;
  height: auto;
  width: 650px;
  background-color: #faf8f8;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
